<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <meta name="author" content="CodingGoose" >
		<meta name="keywords" content="discord,discord-bot,goose,goose-bot" >
    <!-- <link href="imgs/favicon.ico" rel="icon"/> -->

    <title>Goose Bot</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" /> -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-blue-500">
    <h1> I'm here to music</h1>
  </body>
</html>
